max_threads=5
queue_size=1000
udsockets_use_temp=true
mariadb_pipe_name=MariaDB
db_name=genDB
db_user=root
db_password=admin
db_host=localhost
db_port=3306
preloaded_models=TechnischeLogistikSS21
model_dir=./src/test/resources/TL
#log_dir=C\:/Users/admin/Desktop/Generating/Code/controller deploy test/logs